* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Paperlogy';
}

@font-face {
  font-family: 'Paperlogy';
  src: url(https://cdn.jsdelivr.net/gh/Freesentation/paperlogy@main/woff2/Paperlogy-4Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --black: #000000;
  --yellow: #ffd600;
  --gray: #585542;
  --darkyellow: #d1b317;
  --lightyellow: #fff3b2;
  --orange: rgb(255, 110, 0);
}

a {
  color: var(--black);
  text-decoration: none;
}

p {
  font-size: 20px;
}

/* ================================================================= */
/* PAGE1 */
/* ================================================================= */

#page1 {
  background-color: var(--yellow);
  width: 1512px;
  height: 1178px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page1_A {
  width: 756px;
  padding: 0 0 0 227px;
}

#p_card1 {
  width: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--black);
  color: var(--yellow);
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}

#page1 h1 {
  font-size: 100px;
  margin: 38px 0;
}

#page1 h1 div * {
  margin: 20px 0;
}

.title_p {
  font-size: 100px;
  font-weight: 600;
}

#page1 h1 img {
  width: 302px;
  height: 98px;
}

#p_1 {
  font-size: 20px;
  color: var(--gray);
}

#h1 p:nth-child(2) {
  -webkit-text-stroke: 1px var(--black);
  -webkit-text-fill-color: transparent;
}

#page1_B {
  width: 756px;
  display: flex;
  justify-content: flex-end;
  padding: 147px 227px 147px 0;
}

#card_grid {
  display: grid;
  grid-template-columns: 227px 227px;
  grid-template-rows: auto auto;
  gap: 30px;
}

.card {
  padding: 20px 30px;
  width: 227px;
  border-radius: 10px;
}

.card_p {
  font-size: 16px;
}

.card_title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
}

#card1 {
  background-color: var(--black);
  color: var(--yellow);
}

#card2 {
  background-color: var(--lightyellow);
  color: var(--black);
}

#card3 {
  color: var(--black);
  border: 1px solid var(--black);
}

#card4 {
  background-color: var(--darkyellow);
  color: var(--black);
}

#card5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width: 484px;
  background-color: var(--black);
  color: var(--yellow);
  border-radius: 10px;
}

/* ================================================================= */
/* PAGE2 */
/* ================================================================= */

#page2 {
  background-color: var(--lightyellow);
  width: 1512px;
  height: 1178px;
  padding: 147px 151px;
}

#p_card2 {
  width: 100px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--yellow);
  color: var(--black);
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}

.p1 {
  margin: 39px 0 98px 0;
  font-size: 40px;
  font-weight: bold;
}

#text_color1 {
  color: var(--orange);
}

.num {
  font-weight: bold;
  font-size: 48px;
  margin-right: 20px;
}

.content_title {
  font-size: 32px;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--black);
  height: 157px;
}

/* ================================================================= */
/* PAGE3 */
/* ================================================================= */

#page3 {
  position: relative;
  background-color: var(--yellow);
  width: 1512px;
  height: 1473px;
  padding: 147px 151px;
}

#p_card3 {
  width: 170px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--black);
  color: var(--yellow);
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}

#page3_title {
  margin: 30px 0 100px 0;
  font-size: 44px;
  font-weight: bold;
}

#border_text {
  -webkit-text-stroke: 1px var(--black);
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  font-weight: 900;
}

#page3_content_grid1 {
  position: absolute;
  top: 442px;
  display: grid;
  grid-template-rows: 344px;
  grid-template-columns: 597px 597px;
  gap: 15px;
}

#page3_content_grid1 > * {
  width: 597px;
  height: 442px;
  border-radius: 10px;
}

.page3_card {
  width: 272px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}

.page3_card img {
  margin: 15px 0;
}

.page3_card_title {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.page3_card_p {
  font-size: 11px;
}

#page3_content2 {
  position: absolute;
  top: 982px;
  display: grid;
  grid-template-columns: 272px 272px 272px 272px;
  gap: 38px;
}

/* ================================================================= */
/* PAGE4 */
/* ================================================================= */

#page4 {
  position: relative;
  background-color: var(--black);
  width: 1512px;
  height: 2210px;
  padding: 147px 151px;
}

#p_card4 {
  width: 140px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--yellow);
  color: var(--black);
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}

#page4_title {
  margin-top: 30px;
  margin-bottom: 100px;
  color: white;
  font-size: 56px;
  font-weight: bold;
}

#text_color2 {
  color: var(--yellow);
}

#page4 > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 91px;
  height: 1473px;
}

.box {
  width: 340px;
  height: auto;
  padding: 34px;
  border: 1.5px solid var(--yellow);
  color: white;
  border-radius: 10px;
}

.box_p1 {
  color: var(--yellow);
  font-size: 16px;
}

.box_title {
  font-size: 24px;
  margin: 10px 0;
}

.box_p2 {
  font-size: 16px;
}

.yellow {
  color: var(--yellow);
  font-weight: bold;
}

#box1 {
  position: absolute;
  right: 302px;
  top: 540px;
}

#box2 {
  position: absolute;
  left: 302px;
  top: 933px;
}

#box3 {
  position: absolute;
  right: 302px;
  top: 1296px;
}

#box4 {
  position: absolute;
  left: 302px;
  top: 1689px;
}

/* ================================================================= */
/* PAGE5 */
/* ================================================================= */

#page5 {
  position: relative;
  background-color: white;
  width: 1512px;
  height: 1080px;
  padding: 147px 151px;
}

#p_card5 {
  width: 170px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--yellow);
  color: var(--black);
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 30px;
}

#page5_title {
  margin-top: 30px;
  margin-bottom: 100px;
  color: var(--black);
  font-size: 56px;
  font-weight: bold;
}

#grid_box {
  display: grid;
  grid-template-columns: 575px 575px;
  grid-template-rows: 196px 196px;
  gap: 30px;
}

.content2_orange {
  width: 575px;
  height: 196px;
  border: 3px solid var(--orange);
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 10px;
}

.content2_black {
  width: 575px;
  height: 196px;
  border: 3px solid var(--black);
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 10px;
}

.content_title2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.content_p2 {
  font-size: 19px;
}

/* ================================================================= */
/* PAGE6 */
/* ================================================================= */

#page6 {
  position: relative;
  background-color: var(--lightyellow);
  width: 1512px;
  height: 1080px;
  padding: 147px 151px;
}

#p_card6 {
  width: 170px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--yellow);
  color: var(--black);
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}

#page6_title {
  font-size: 56px;
  font-weight: bold;
  margin: 30px 0 100px;
}

#flex_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content3 {
  position: relative;
  width: 590px;
  height: 196px;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 10px;
  transition: all 0.25s ease;
}

.content3:hover {
  transform: scale(1.05);
}

.content_title3 {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.content_p3 {
  font-size: 28px;
  color: var(--gray);
}

.content3 > div > img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  width: 151px;
  height: 98px;
}

/* ================================================================= */
/* PAGE7 */
/* ================================================================= */

#page7 {
  position: relative;
  background-color: var(--yellow);
  width: 1512px;
  height: 1080px;
  padding: 147px 151px;
}

#p_card7 {
  width: 190px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--black);
  color: var(--yellow);
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}

#page7_title {
  font-size: 56px;
  font-weight: bold;
  margin: 30px 0 172px;
}

#flex_box2 {
  display: flex;
  justify-content: space-around;
}

.content4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 378px;
  height: 295px;
}

.content_title4 {
  width: 378px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.content_img {
  width: 113px;
  height: 113px;
  background-color: white;
  border-radius: 100%;
  padding: 15px;
}

.content_p4 {
  width: 378px;
  text-align: center;
}
